body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #091627;
}

.navbar {

    background-color: #000814;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    gap: 20px;
}

.logo {
    display: flex;
    align-items: center;

}

.logo img {
    height: 50px;
    margin-right: 10px;
    cursor: pointer;
}

.search-bar {
    flex: 1;
    display: flex;
    align-items: center;
    background-color: #d9d9d9;
    border-radius: 50px;
    padding: 3px 15px;
  }
  
  .search-bar input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 8px;
    font-size: 16px;
  }

  .search-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #808080;
    font-size: 20px;
  }
  
  .search-button:hover {
    color: #4e4e4e;
  }

.icons {
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.icons i:hover {
    color: #8f8f8f;
}

.profile {
    background-color: #001d3d;
    padding: 8px 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.profile span {
    color: white;
}

.profile:hover {
    color: #8f8f8f;
}

/* Estilo do Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px); /* aqui faz o blur do fundo */
    background-color: rgba(0, 0, 0, 0.4); /* uma camada preta meio transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    animation: fadeIn 0.5s ease;
  }
  
  /* Animação suave */
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  /* Caixa do conteúdo */
  .modal-content {
    background: linear-gradient(135deg, #000814, #001a41);
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    animation: popUp 0.4s ease;
  }
  
  /* Animação do conteúdo */
  @keyframes popUp {
    from {
      transform: scale(0.7);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .modal-content h2 {
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  /* Botões */
  .buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .buttons button {
    padding: 10px 25px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
  }
  
  .buttons button:first-child {
    background-color: #D5C189;
    color: rgb(0, 0, 0);
  }
  
  .buttons button:last-child {
    background-color: #D5C189;
    color: rgb(0, 0, 0);
  }
  
  .buttons button:hover {
    transform: scale(1.1);
  }
  